<manifest xmlns:ns0="http://schemas.android.com/apk/res/android" package="org.growingstems.scouting" ns0:versionCode="26" ns0:versionName="2.2015.1.1">

    <uses-sdk ns0:minSdkVersion="13" ns0:targetSdkVersion="14" />

    <uses-permission ns0:name="android.permission.INTERNET" />
    <uses-permission ns0:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application ns0:allowBackup="true" ns0:icon="@drawable/ic_launcher" ns0:label="@string/app_name">
        <activity ns0:configChanges="keyboardHidden|orientation" ns0:label="@string/waiting" ns0:name="org.growingstems.scouting.MatchStartActivity">
        </activity>
        <activity ns0:name="org.growingstems.scouting.Prefs">
        </activity>
        <activity ns0:configChanges="orientation" ns0:label="@string/app_name" ns0:name="org.growingstems.scouting.DashboardActivity">
            <intent-filter>
                <action ns0:name="android.intent.action.MAIN" />

                <category ns0:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service ns0:enabled="true" ns0:exported="false" ns0:name="org.frc836.database.DBSyncService" ns0:stopWithTask="true">
        </service>

        <activity ns0:configChanges="keyboardHidden|orientation|screenSize" ns0:label="@string/match_label" ns0:name="org.robobees.recyclerush.MatchActivity" ns0:windowSoftInputMode="stateHidden">
        </activity>
        <activity ns0:configChanges="keyboardHidden|orientation|screenSize" ns0:label="@string/pits_label" ns0:name="org.robobees.recyclerush.PitActivityRR">
        </activity>
    </application>

</manifest>