<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.growingstems.scouting"
    android:versionCode="39"
    android:versionName="2.2017.0.3">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault">
        <activity
            android:name=".MatchStartActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/waiting" />
        <activity android:name=".Prefs" />
        <activity
            android:name=".DashboardActivity"
            android:configChanges="orientation"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="org.frc836.database.DBSyncService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="true" />

        <activity
            android:name="org.frc836.yearly.MatchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/match_label"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="org.frc836.yearly.PilotActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/match_label"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".data.DataActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_data">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.growingstems.scouting.DashboardActivity" />
        </activity>
        <activity
            android:name="org.frc836.yearly.PitsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/pits_label" />
        <activity
            android:name=".PickActivity"
            android:label="@string/title_activity_pick"
            android:parentActivityName=".DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.growingstems.scouting.DashboardActivity" />
        </activity>
    </application>

</manifest>
