<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="51"
    android:versionName="2.2023.1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat" >
        <activity
            android:name=".SuperScoutActivity"
            android:exported="false" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".PrefsActivity"
            android:exported="false"
            android:label="@string/title_activity_prefs" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".MatchStartActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/waiting" />
        <activity
            android:name=".DashboardActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="org.frc836.database.DBSyncService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="true" />

        <activity
            android:name="org.frc836.yearly.MatchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/match_label"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".data.DataActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_data" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.growingstems.scouting.DashboardActivity" />
        </activity>
        <activity
            android:name="org.frc836.yearly.PitsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/pits_label" />
    </application>

</manifest>
